/*
Styles admonitions
 */

:root {
    --color-admonition-title--important: #ff00ff
}

.admonition {
    border-left: none;
}

p.admonition-title {
    background: none !important;
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--font-stack--monospace);
*} 

/*
Use admonition title color for background instead
*/
.caution {
    background-color: var(--color-admonition-title-background--caution);
}

.warning {
    background-color: var(--color-admonition-title-background--warning);
}

.danger {
    background-color: var(--color-admonition-title-background--danger);
}

.attention {
    background-color: var(--color-admonition-title-background--attention);
}

.error {
    background-color: var(--color-admonition-title-background--error);
}

.hint {
    background-color: var(--color-admonition-title-background--hint);
}

.tip {
    background-color: var(--color-admonition-title-background--tip);
}/*
.tip .admonition-title {
    color: var(--color-admonition-title--tip);
}*/

.important {
    background-color: var(--color-admonition-title-background--important);
}

.note {
    background-color: var(--color-admonition-title-background--note);
}

.seealso {
    background-color: var(--color-admonition-title-background--seealso);
}

.admonition-todo {
    background-color: var(--color-admonition-title-background--admonition-todo);
}
