/*
Style code block captions to better represent file names
*/
.code-block-caption {
    text-align: left;
}

.code-block-caption + div[class^="highlight"] {
    margin-top: 0;
}

.code-block-caption + div[class^="highlight"] .highlight {
    border-top-left-radius: 0;
}

.caption-text {
    display: inline-block;
    /*
    border-bottom-color: var(--sd-color-tabs-underline-active);
    border-color: #232629;
    border-bottom-width: .25rem;
    border-bottom-style: solid; 
    */
    background-color: #232629;
    color: var(--color-code-foreground);
    font-family: var(--font-stack--monospace);
    font-weight: 500;
    padding: 0.125rem 0.5rem;
    vertical-align: bottom;
    margin-bottom: 0.1rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}