/*
Modifies left and right padding to be more reasonable
 */

.sidebar-drawer {
    width: 15em
}

.content {
    width: calc(100% - 21em);
}

.main {
    width: calc(100vw - 36em)
}

@media (max-width: 1073px) {
    .main {
        width: 100%;
    }
}

@media (max-width: 1313px) {
    .content {
        width: calc(100% - 6em);
    }
}

.toc-drawer {
    width: 15em;
}