/*
Modifies left and right padding to be more reasonable
 */

.content {
    padding: 0 5em;
}

@media (max-width: 67em) {
    .content {
        padding: 1rem;
    }
}

.toc-drawer {
    padding-right: 0;
}

.sidebar-container {
    width: 100%;
}